/* Custom table styles */
.table-container {
    background-color: #2c2f33;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.table th {
    background-color: #0A6847;
    color: white;
}

.table td, .table th {
    border: 1px solid gray;
}

.rounded-searchbar {
    border-radius: 17px !important;
}

.fixed-image {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}